# Flutter/Dart/Pub related
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/

# Build outputs
build/
ios/Flutter/Flutter.framework
ios/Flutter/Flutter.podspec
ios/Flutter/App.framework
ios/.generated/
android/.gradle/
android/app/*.iml

# VS Code related
.vscode/

# IntelliJ related
*.iml
.idea/

# Miscellaneous
*.log
*.lock
*.DS_Store
*.swp
